.navbar {
  display: flex;
  justify-content: space-between;
  height: $navbar-height;
  width: auto;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);

  .navbar-section {
    flex: 1;
    display: flex;
    align-items: center;

    .nav-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:first-child, &:nth-child(2) {
      align-items: stretch;
    }

    &:first-child {
      margin-right: auto;
      margin-left: 30px;
    }

    &:nth-child(2) {
      flex: 3;
      display: flex;
      justify-content: center;

      .nav-link {
        margin: 0 40px;
      }
    }

    &:nth-child(3) {
      justify-content: flex-end;

      .social-icon:last-child {
        margin: 0 40px;
      }

      .social-icon:hover {
        color: $main-red;
      }
    }

    .hamburger {
      margin-right: 30px;
      margin-left: auto;

      .line {
        width: 30px;
        height: 3px;
        background-color: $main-red;
        display: block;
        margin: 6px auto;
      }
    }
  }
}
