.navbar {
  display: flex;
  justify-content: space-between;
  height: $navbar-height;
  width: auto;
  background-color: $main-red;

  .navbar-section {
    flex: 1;
    display: flex;
    align-items: center;

    .nav-link {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $main-white;
    }

    &:first-child, &:nth-child(2) {
      align-items: stretch;
    }

    &:first-child {
      margin-right: auto;
      margin-left: $gutter-lg;
    }

    &:nth-child(2) {
      flex: 3;
      display: flex;
      justify-content: center;

      .nav-link {
        margin: 0 $gutter * 2;
      }
    }

    &:nth-child(3) {
      justify-content: flex-end;
    }

    &:last-child {
      .idk {
        margin-right: $gutter-lg;
        margin-left: auto;
      }
    }
  }

  .social-icon {
    color: $main-white;

    &:last-child {
      margin: 0 $gutter * 2;
    }
  }
}
