// Colors
$main-red: #501214;
$main-gold: #8d734a;
$main-light-grey: #f3f3f3;

// Navbar
$navbar-height: 64px;

// Screens
$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
